# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. you will know some data science programming languages, libraries and also tools.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Keras
3. TensorFlow
4. Pandas
5. Numpy
6. Scipy
7. Matplotlib

Jupyter Notebook / Kaggle / Github / Weka / Tableau / Pentaho / etc.

Data Science Tools

| Tools        |
|--------------|
| Python       |
| R            |
| SQL          |
| TensorFlow   |
| PyTorch      | 
| Jupyter      |

Below are a few examples of evaluating arithmetic expressions in Python
- Addition: 5+5
- Subtraction: 5-5
- Multiplication: 5*5
- Division: 5//2

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
x = input("Minutes : ")
hours = int(x)//60
minutes = int(x)% 60
print("the time is : ", hours, "hours and ",minutes, "minutes")

Minutes : 200
the time is :  3 hours and  20 minutes

Objetives : 
- Data Science Languages
- Data Science Libraries
- Data Science Tools

## Author's Name : Nouh Taha